* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
#main-div{
  margin: auto;
}
.row {
  margin: 0 auto;
  width: 800px;
  height: 400px;
  background-color: rgb(186, 233, 223);

}
.paraStyle {
  margin: 0;
  cursor: pointer;
  font-size: 18px;
  text-decoration: none;
}
#values{
  height: 120px;
  width: 375px;
  overflow: auto;
}
